@font-face {
    font-family: 'AlfaSlabOne-Regular';
    src: url('Alfa_Slab_One/AlfaSlabOne-Regular.ttf');
}

@font-face {
    font-family: 'Bebas_Neue';
    src: url('Bebas_Neue/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat/static/Montserrat-Bold.ttf');
}